.actionButtons {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 40px !important;
  min-height: 40px !important;
  left: 50%;
  z-index: 101;
  background: #fff;
  border: 1px solid #09c;
  padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  max-width: calc(100vw - 340px);
  text-shadow: none !important;
  text-decoration: none !important;

  &.mobile {
    max-width: none;
  }

  .itemButton {
    background: #fff;
    color: #09c;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-variant: initial;

    &:hover {
      background: #ccc;
    }

    &.delete {
      color: #f40;
    }
  }
}


