.creatorArea {
  grid-area: creatorArea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  scroll-behavior: smooth;

  > * {
    height: 100%;
  }
}
