@-webkit-keyframes beat {
    0%, 90% {
        transform: scale(1)
    }
    45% {
        transform: scale(1.25)
    }
}

@keyframes beat {
    0%, 90% {
        transform: scale(1)
    }
    45% {
        transform: scale(1.25)
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1) translateY(0)
    }
    10% {
        transform: scale(1.1, .9) translateY(0)
    }
    30% {
        transform: scale(.9, 1.1) translateY(-.5em)
    }
    50% {
        transform: scale(1.05, .95) translateY(0)
    }
    57% {
        transform: scale(1) translateY(-.125em)
    }
    64% {
        transform: scale(1) translateY(0)
    }
    to {
        transform: scale(1) translateY(0)
    }
}

@keyframes bounce {
    0% {
        transform: scale(1) translateY(0)
    }
    10% {
        transform: scale(1.1, .9) translateY(0)
    }
    30% {
        transform: scale(.9, 1.1) translateY(-.5em)
    }
    50% {
        transform: scale(1.05, .95) translateY(0)
    }
    57% {
        transform: scale(1) translateY(-.125em)
    }
    64% {
        transform: scale(1) translateY(0)
    }
    to {
        transform: scale(1) translateY(0)
    }
}

@-webkit-keyframes fade {
    50% {
        opacity: .4
    }
}

@keyframes fade {
    50% {
        opacity: .4
    }
}

@-webkit-keyframes beat-fade {
    0%, to {
        opacity: .4;
        transform: scale(1)
    }
    50% {
        opacity: 1;
        transform: scale(1.125)
    }
}

@keyframes beat-fade {
    0%, to {
        opacity: .4;
        transform: scale(1)
    }
    50% {
        opacity: 1;
        transform: scale(1.125)
    }
}

@-webkit-keyframes flip {
    50% {
        transform: rotate3d(0, 1, 0, -180deg)
    }
}

@keyframes flip {
    50% {
        transform: rotate3d(0, 1, 0, -180deg)
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotate(-15deg)
    }
    4% {
        transform: rotate(15deg)
    }
    8%, 24% {
        transform: rotate(-18deg)
    }
    12%, 28% {
        transform: rotate(18deg)
    }
    16% {
        transform: rotate(-22deg)
    }
    20% {
        transform: rotate(22deg)
    }
    32% {
        transform: rotate(-12deg)
    }
    36% {
        transform: rotate(12deg)
    }
    40%, to {
        transform: rotate(0deg)
    }
}

@keyframes shake {
    0% {
        transform: rotate(-15deg)
    }
    4% {
        transform: rotate(15deg)
    }
    8%, 24% {
        transform: rotate(-18deg)
    }
    12%, 28% {
        transform: rotate(18deg)
    }
    16% {
        transform: rotate(-22deg)
    }
    20% {
        transform: rotate(22deg)
    }
    32% {
        transform: rotate(-12deg)
    }
    36% {
        transform: rotate(12deg)
    }
    40%, to {
        transform: rotate(0deg)
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
