@import "icons-set.styles.css";
@import "table.css";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

ul, ol {
    list-style-type: none;
}

.react-tabs ul {
    display: flex;
}

.react-tabs ul li {
    height: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    border-collapse: collapse;
    outline: none;
    width: 100%;
}

.react-tabs ul li:hover {
    background: #d8d8d8;
}

.react-tabs ul li.react-tabs__tab--selected {
    color: #09d;
}

input {
    width: 100%;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-variant: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    outline: none;
    border: none;
    background: transparent;
}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    display: contents;
}
