.singleBlock {
  position: relative;
  box-sizing: border-box;
  filter: none !important;
  animation: none !important;
  animation-delay: initial !important;
  animation-direction: initial !important;
  display: flex;
  margin: 10px 0;

  --border-top-width: 0px;
  --filter: none;
  --animation: none;
  --animation-delay: initial;
  --animation-direction: initial;

  &:hover {
    outline: 2px dotted #636363;
  }

  :has(.structure-item:hover) {
    outline: none;
  }

  &[minimized] {
    pointer-events: none;
    height: 40px !important;
    overflow: hidden;

    & > .mask-layer {
      display: flex;
    }
  }

  &.hovered,
  &.selected {
    outline: 2px solid #09c;
  }

  &.selected {
    box-shadow: 0 0 3px 3px #000;
  }

  & > p {
    margin: 0;
  }

  [contenteditable] {
    outline: none;
  }

  & > button {
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  & > hr {
    margin: 0;
    height: inherit;
    width: 100%;
  }

  &:has(hr) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .maskLayer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background: #dee2e6;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
  }

  p, q, button, h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    width: 100%;
  }
}

.children {
  width: 100%;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  min-height: 50px;
  padding: 5px;

  &.dragover {
    background: #3bb956;

    &:has(.dragover) {
      background: transparent;
    }
  }
}
