.selection {
  position: fixed;
  pointer-events: none;
  border: 2px solid #09c;
  outline: 2px solid #09c;
  box-shadow: 0 0 3px 3px #000;
  animation-name: fade;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}


@-webkit-keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
