.inputRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

  .select {
    width: 60px;
    flex: 0 0 60px;
    margin-top: 20px;
    border-left: none !important;
  }
}
