.noBlock {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  color: #636363;

  .icon {
    font-size: 70px;
    color: #c9c9c9;
    margin-top: 20px;
  }
}

